body{
    background-size: cover;
    background-position: center;
}

label{
    color: black;
    font-size: 40px;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

a{
    font-size: 25px! important;
    color: black;
    background-color: cyan;
    width: 400px! important;
    border-radius: 30px! important;
}

a:hover{
    background-color: orange;
    color: black;
    text-decoration: none;
}